@{
    ViewData["Title"] = "Your Schedule";
}

<div class="text-center">
    <h1 class="display-4">Block Scheduling</h1>
    <p>Input Your Bi-Weekly allowance of total hours and scheduled hours. Take a picture of the hard copy schedule with other associates, and we will do the rest.</a>.</p>
</div>

